{% extends 'layouts/base.twig.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for reciped in recipeds %}
          <div class="col-4 mb-4">
              <div class="card">
                  <img src="{{ reciped["image"] }}" 
                      class="card-img-top" 
                      alt="{{ reciped['title'] }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ reciped["title"] }}</h5>
                    <p class="card-text">{{ reciped["description"] }}</p>
                    <a href="/show/{{ reciped['id'] }}" 
                      class="btn btn-primary">Подробнее</a>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}